<h1> <%= @synth.brand.capitalize %> <%= @synth.name.capitalize %> </h1>
<% if @synth.images.attached? %>
  <% @synth.images.each do |image| %>
    <%= cl_image_tag image.key, height: 300, width: 500, crop: :fill %>
  <% end %>
<% end %>
<br>
<br>
<p>Price: £<%= @synth.price %> p/day</p>
<p>Year: <%= @synth.year %></p>
<p>Conditions: <%= @synth.conditions.capitalize %></p>
<p>Description <%= @synth.description.capitalize %></p>
<p>Polyphony: <%= @synth.polyphony %></p>


<%= link_to 'Back', synths_path %>

<% if @synth.user == current_user %>
  <%= link_to 'Edit', edit_synth_path(@synth) %>
  <%= link_to 'Delete', @synth, method: :delete, data: { confirm: "Are you sure to delete #{@synth.name}?"} %>
<% end %>
