
<h1> <%= @synth.brand.capitalize %> <%= @synth.name.capitalize %> </h1>

<% if @synth.images.attached? %>
  <% @synth.images.each do |image| %>
    <%= cl_image_tag image.key, height: 300, width: 500, crop: :fill %>
  <% end %>
<% end %>

<br>
<br>

<p>Price: £<%= @synth.price %> p/day</p>
<p>Category: <%= @synth.category %></p>
<p>Conditions: <%= @synth.conditions.capitalize %></p>
<p>Description: <%= @synth.description.capitalize %></p>

<%= link_to 'Back', synths_path %>

<% if @synth.user == current_user %>
  <%= link_to 'Edit', edit_synth_path(@synth) %>
  <%= link_to 'Delete', @synth, method: :delete, data: { confirm: "Are you sure to delete #{@synth.name}?"} %>
<% end %>

<hr>

<% if @synth.user != current_user %>
  <div class="col-6" data-controller="booking-form" data-booking-form-price-value="<%= @synth.price %>" >
    <h1>Book this Synth</h1>
    <%= simple_form_for ([@synth, @booking]), data: { action: "change->booking-form#calculatePrice" } do |f| %>
      <%= f.input :start_date, as: :date, html5: true, input_html: { data: { booking_form_target: "start" }} %>
      <%= f.input :end_date, as: :date, html5: true, input_html: { data: { booking_form_target: "end" }} %>
      <%= f.input :total_price, label: false, input_html: { class: 'd-none',  data: { booking_form_target: "totalHide" } } %>
      <div data-booking-form-target="totalPrice">Total Price: £0</div>
      <br>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
<% end %>

<hr>

<h1>Reviews</h1>
<h4>
  This synth has <%= pluralize @synth.reviews.size, "review" %>:
</h4>

<div data-controller="insert-in-list">
  <div id="reviews" data-insert-in-list-target="items">
    <% if @synth.reviews.empty? %>
      <h4>Be the first to leave a review for <%= @synth.brand.capitalize %> <%= @synth.name %></h4>
    <% else %>
      <% @synth.reviews.each do |review| %>
        <%= render 'reviews/review', review: review, synth: @synth %>
      <% end %>
    <% end %>
  </div>

<%= render 'reviews/form', synth: @synth, review: @review %>
</div>
