<h1><%= @synth.name.capitalize %></h1>
<p><%= @synth.brand.capitalize %></p>
<p>Price: £<%= @synth.price %> p/day</p>
<p>Year: <%= @synth.year %></p>
<p>Conditions: <%= @synth.conditions.capitalize %></p>
<p>Description <%= @synth.description.capitalize %></p>
<p>Polyphony: <%= @synth.polyphony %></p>
