<div class="review" id= "review-<%= review.id %>">
  <p><%= review.user.email %></p>
  <p><%= review.created_at %></p>

<%# creating rating stars %>
  <% i = 0 %>
  <% while i < 5 %>
    <%= image_tag "star#{i < review.rating ? "" : "_black"}.png", width: 25, height: 25, opacity: 0.4 %>
    <% i += 1 %>
  <% end %>

  <p><%= review.content %></p>
  <hr>
</div>
